<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDB</title>
</head>
<body>
    <div>
        <div>
            <h1>Greetings, {{ login }}</h1>
            <a href = '/logout'>Click here to log out</a>

            <div>
                <a href="/ChooseExcelFile">Work with Excel Files</a> <br>
                <a href="/Databases">Work with Databases</a> <br>
                <a href="/ChooseFileForNewDatabase">Database Generation</a>
            </div>
        </div>
    </div>
</body>
</html>